@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

img {
    max-width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
}

main {
    padding-top: 80px;
}

a {
    text-decoration: none;
    color: inherit;
}

.btnWish {
    background-color: #ffff;
    color: #c8a85a;
    border: none;
    padding: 10px 12px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
}

.btninWish{
    background-color: #c8a85a;
    color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
}

.btnWish:hover {
    background-color: #c8a85a;
    color: white;
}




.addCartHover:hover {
    background-color: #725200;
}


.toast {
    position: fixed;
    top: 110px;
    right: 20px;
    background-color: #fff;
    color: #333;
    border: 2px solid #f5b500;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    z-index: 9999;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;

}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}